@model Movie

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>@Model.Title</h1>
    <h3>@Model.Id</h3>    
    <h3>@Model.ReleaseDate</h3>
    <h3>@Model.Genre</h3>
    <h3>@Model.Price</h3>
</body>
</html>