@model List<Movie>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Index</h1>
    <p><a class="btn btn-primary" asp-controller="Movie" asp-action="Create">New Movie</a></p>
    <table class="table">
        <tr>
            <th>Id</th>
            <th>Title</th>
            <th>Release Date</th>
            <th>Genere</th>
            <th>Price</th>
            <th></th>
            <th></th>
        </tr>
        @foreach (var movie in Model)
        {
            <tr>
                <td><a asp-controller="Movie" asp-action="Details" asp-route-id="@movie.Id">@movie.Id</a></td>
                <td>@movie.Title</td>
                <td>@movie.ReleaseDate</td>
                <td>@movie.Genre</td>
                <td>@movie.Price</td>
                <td><a asp-controller="Movie" asp-action="Edit" asp-route-id="@movie.Id">Edit</a></td>
                <td><a asp-controller="Movie" asp-action="Delete" asp-route-id="@movie.Id">Delete</a></td>
            </tr>
        }
    </table>
</body>
</html>